<!-- 扣子 -->
<ul class="content-button" data-category="button">
    <li class="button-55 content-sel" data-value="YK" data-color="SS">
        <span></span>
    </li><!--
    --><li class="button-223" data-value="BKY" data-color="BS">
        <span></span>
    </li><!--
    --><li class="button-245" data-value="BKF" data-color="BS">
        <span></span>
    </li><!--
    --><li class="button-160" data-value="YK" data-color="ZLS">
        <span></span>
    </li><!--
    --><li class="button-161" data-value="YK" data-color="HBS">
        <span></span>
    </li><!--
    --><li class="button-211" data-value="YK" data-color="AHS">
        <span></span>
    </li><!--
    --><li class="button-56" data-value="YK" data-color="LS">
        <span></span>
    </li><!--
    --><li class="button-159" data-value="YK" data-color="JHS">
        <span></span>
    </li>
</ul>