<!-- 领子 -->
<ul class="content-collar" data-category="collar">
    <li class="collar-49 content-sel" data-value="XFLG">
        <span></span>
    </li><!--
    --><li class="collar-50" data-value="ZJLE">
        <span></span>
    </li><!--
    --><li class="collar-155" data-value="ZBZLN">
        <span></span>
    </li><!--
    --><li class="collar-165" data-value="LL">
        <span></span>
    </li><!--
    --><li class="collar-83" data-value="LDKZJLE">
        <span></span>
    </li><!--
    --><li class="collar-82" data-value="XJLE">
        <span></span>
    </li><!--
    --><li class="collar-83" data-value="XFL">
        <span></span>
    </li><!--
    --><li class="collar-163" data-value="LDKXJLE">
        <span></span>
    </li>
</ul>