<!-- 袖口 -->
<ul class="content-cuffs" data-category="cuffs">
    <li class="cuffs-61 content-sel" data-value="YJ1Y">
        <span></span>
    </li><!--
    --><li class="cuffs-156" data-value="LJ1Y">
        <span></span>
    </li><!--
    --><li class="cuffs-157" data-value="ZJ1Y">
        <span></span>
    </li><!--
    --><li class="cuffs-62" data-value="YJ2Y">
        <span></span>
    </li><!--
    --><li class="cuffs-166" data-value="LJ2Y">
        <span></span>
    </li><!--
    --><li class="cuffs-96" data-value="FS4Y">
        <span></span>
    </li><!--
    --><li class="cuffs-167" data-value="FS2Y">
        <span></span>
    </li>
</ul>