<% /* 面料 */ %>
<ul class="content-fabric" data-category="fabric">
    <li class="fabric-27 content-sel" data-value="CS5">
        <span></span>
    </li><!--
    --><li class="fabric-31" data-value="CS13">
        <span></span>
    </li><!--
    --><li class="fabric-32" data-value="CS12">
        <span></span>
    </li><!--
    --><li class="fabric-33" data-value="CS14">
        <span></span>
    </li><!--
    --><li class="fabric-34" data-value="CS15">
        <span></span>
    </li><!--
    --><li class="fabric-24" data-value="CS16">
        <span></span>
    </li><!--
    --><li class="fabric-28" data-value="CS5">
        <span></span>
    </li><!--
    --><li class="fabric-23" data-value="CS17">
        <span></span>
    </li><!--
    --><li class="fabric-22" data-value="CS18">
        <span></span>
    </li><!--
    --><li class="fabric-14" data-value="TW2">
        <span></span>
    </li>
    </li><!--
    --><li class="fabric-18" data-value="GZ1">
        <span></span>
    </li>
    </li><!--
    --><li class="fabric-17" data-value="GZ2">
        <span></span>
    </li>
    </li><!--
    --><li class="fabric-15" data-value="GZ6">
        <span></span>
    </li>
    </li><!--
    --><li class="fabric-16" data-value="GZ5">
        <span></span>
    </li>
    </li><!--
    --><li class="fabric-19" data-value="CS23">
        <span></span>
    </li>
    </li>
</ul>