<% /* 后背 */ %>
<ul class="content-hb" data-category="hb">
    <li class="mj-95 content-sel" data-value="SZ">
        <span></span>
    </li><!--
    --><li class="mj-94" data-value="SS">
        <span></span>
    </li><!--
    --><li class="mj-93" data-value="WZ">
        <span></span>
    </li><!--
    --><li class="mj-333" data-value="SSJGJ">
        <span></span>
    </li>
</ul>