<% /* 门襟 */ %>
<ul class="content-mj" data-category="mj">
    <li class="mj-65 content-sel" data-value="ZMMJ">
        <span></span>
    </li><!--
    --><li class="mj-66" data-value="ZWMJ">
        <span></span>
    </li><!--
    --><li class="mj-89" data-value="ZAMJ">
        <span></span>
    </li>
</ul>