<!-- 口袋 -->
<ul class="content-pocket" data-category="pocket">
    <li class="pocket-144 content-sel" data-value="empty">
        <span></span>
    </li><!--
    --><li class="pocket-103" data-value="ZJKD">
        <span></span>
    </li><!--
    --><li class="pocket-102" data-value="YJKD">
        <span></span>
    </li><!--
    --><li class="pocket-158" data-value="SJKD">
        <span></span>
    </li><!--
    --><li class="pocket-101" data-value="LJKD">
        <span></span>
    </li><!--
    --><li class="pocket-168" data-value="TXKD">
        <span></span>
    </li>
</ul>