<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/demo/jing/style.css" />
    <title>Document</title>
</head>
<body>
<div id="content">
<script src="http://localhost:8082/socket.io/socket.io.js"></script>
<script src="/javascripts/demo/jing/bundle.js"></script>
<script>
//   var socket = io('http://localhost:8082');
//   socket.on('news', function (data) {
//     console.log(data);
//     socket.emit('my other event', { my: 'data' });
//   });
</script>
</div>
</body>
</html>